<!doctype html>
<html ng-app="myFlow">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Blog App using AngularJS</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        svg{
            border: 1px solid black;
        }
    </style>
</head>
<body ng-app="myFlow">

<div class="container" ng-controller="mainCtr">
    <h1 align="center">Simple AngularJS Flow Chart</h1>
    <button class="btn btn-danger" ng-click="addState()">ADD</button>

    <button class="btn btn-primary" ng-click="clearState()">Clear All</button>
    <hr/>
    <div node 
    state-data="stateData" 
    get-status="updateStatus(newSta)"
    is-add="goToAdd(toAdd)" 
    control="outerControl"></div>
</div>
<!-- <svg></svg> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.0/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="components/node/node.js"></script>
</body>
</html>